.aboutus {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 130px 0;
}

.aboutus__block {
    width: 675px;
    height: 736px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutus__Title {
    font-size: 45px;
    font-weight: bold;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    width: 521px;
    height: 118px;
}

.aboutus__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 32.4px;
    letter-spacing: 0.36px;
    width: 670px;
    height: 98px;
}

.aboutus__standards {
    height: 104px;
    width: 675px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.aboutus__icon {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus__standardsContent {
    display: flex;
    flex-direction: column;
}

.aboutus__standardsTitle {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36px;
}

.aboutus__standardsText {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    letter-spacing: 0.36px;
    width: 539px;
    height: 65px;
}

.shop {
    background-color: var(--color-green);
    margin-left: 0;
}

.shopnow {
    color: #ffffff;
}

@media (max-width: 1350px) {
    .citruses {
        display: none;
    }
}

@media (max-width: 720px) {
    .aboutus__block {
        align-items: center;
    }

    .aboutus__text {
        width: 521px;
        height: 108px;
        margin-bottom: 50px;
    }

    .aboutus__standards {
        flex-direction: column;
        margin-bottom: 130px;
    }

    .aboutus__icon {
        padding: 25px 0;
    }
}

@media (max-width: 575px) {
    .aboutus {
        padding: 270px 0;
    }

    .aboutus__block {
        gap: 20px;
    }

    .aboutus__Title {
        width: 350px;
        height: 218px;
        text-align: center;
    }

    .aboutus__text {
        width: 360px;
        height: 150px;
        margin-bottom: 40px;
    }   

    .aboutus__standardsContent {
        width: 360px;
        height: 150px;
    }

    .aboutus__standardsText {
        width: 360px;
    }

    .shop {
        margin-top: 50px;
    }
}

@media (max-width: 375px) {
    .aboutus {
        padding: 370px 0;
    }
    .aboutus__block {
        gap: 60px;
    }
    .aboutus__text {
        width: 270px;
        height: 200px;
        margin-bottom: 20px;
    }

    .aboutus__standardsContent {
        width: 270px;
        height: 150px;
    }

    .aboutus__standardsText {
        width: 270px;
    }
}