.alloffer {
    width: 1440px;
    height: 1060px;
    background-color: var(--color-green);
}
.alloffer__wrapper {
    width: 1380px;
    height: 779.55px;
    padding: 140px 30px;
}
.alloffer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.alloffer__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    color: #ffffff;
}

.all {
    width: 267px;
}

.alloffer__card {
    margin-top: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

@media (max-width: 640px) {
   

    .alloffer__top {
        justify-content: space-around;
    }
}