.catalogue {
    height: 860px;
    background-color: #EFF6F1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.catalogue__card {
    width: 460px;
    height: 580px;
    background-image: url(../../images/catalogue/juice.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.food {
    background-image: url(../../images/catalogue/food.svg);
}

.nuts {
    background-image: url(../../images/catalogue/cookies.svg);
}

.catalogue__button {
    width: 281px;
    height: 98px;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.36px;
    color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogue__button:hover {
    background-color: var(--color-lightgreen);
    color: #ffffff;
}

@media (max-width: 1379px) {
    .catalogue {
        height: 1220px;
    }
}
@media (max-width: 919px) {
    .catalogue {
        height: 1800px;
    }
}
