.eco {
    height: 704.13px;
    display: flex;
    align-items: center;
    position: relative;
}

.eco__image {
    width: 720px;
    height: 704px;
}

.eco__content {
    width: 720px;
    height: 623px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: absolute;
    right: 60px;   
}

.eco__block {
    width: 620px;
    height: 528px;
    margin: 40px 40px 55.11px 60px;
    display: flex;
    flex-direction: column;

}

.eco__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    width: 301px;
    margin-bottom: 30px;
}

.eco__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    letter-spacing: 0.36px;
    color: var(--color-grey);
    width: 620px;
    margin: 5px 0;
}

@media (max-width: 800px) {
    .eco__image {
        display: none;
    }
    .eco__content {
        position: relative;
        margin-left: 60px;
    }
}

@media (max-width: 684px) {
    .eco {
        height: 720px;
    }
    .eco__content {
        height: 600px;
        bottom: 10px;
    }
    .eco__text {
        width: 500px;
     
    }
}

@media (max-width: 580px) {
    .eco {
        height: 720px;
    }
    .eco__content {
        
        bottom: 50px;
    }
    .eco__text {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .eco {
        height: 850px;
    }
    .eco__content {
        
        bottom: 100px;
    }
    .eco__text {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .eco {
        height: 950px;
    }
    .eco__content {
       
        bottom: 150px;
    }
    .eco__text {
        width: 250px;
    }
}

@media (max-width: 360px) {    
    .eco {
        height: 1050px;
    }
    .eco__content {
       margin-left: 35px;  
       bottom: 180px;     
    }
    .eco__title {
        width: 290px;
    }
}
