.feedback {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback__block {
    width: 1380px;
    height: 320px;
    border-radius: 30px;
    background-image: url(../../images/feedback/backgroundfeedback.svg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    
}

.feedback__title {
    width: 323px;
    height: 120px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.36px;
    color: #ffffff;
}

.feedback__imput {
    width: 290px;
    height: 22px;
    border-radius: 16px;
    border: 1px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.36px;
    padding: 30px;
}

.feedback__email {
    display: flex;
    gap: 10px;
}

/*
@media (max-width: 800px) {
    .feedback__imput {
        font-size: 20px;
    }
}
*/

@media (max-width: 1000px) {
    .feedback__block {
        flex-direction: column;
       
    }

    .feedback__title {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .feedback{
        height: 570px;
    }

    .feedback__block {
        height: 420px;
        background-image: none;  
        background-image: url(../../images/aboutus/citruses.svg);    
    }

    .feedback__title {
        color: var(--color-green);
    }

    .feedback__imput {      
        border: 1px solid ;    
    }

    .feedback__email {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 365px) {
    .feedback{
        height: 600px;
    }

    .feedback__block {
        height: 520px;
    }

    .feedback__title {
        width: 300px;
        margin-bottom: 50px;
    }
    .feedback__imput {
        width: 200px;
    }
} 
