.testimonial {
    height: 1248px;
    background-image: url(../../images/testimonial/backgroundimage.svg);
    display: flex;
    align-items: center;
}

.testimonial__wrapper {
    height: 967.69px;
    display: flex;
    flex-direction: column;
    gap: 99px;
    align-items: center;
    padding: 0 180px;
}

.testimonial__content {
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__image {
    width: 115px;
    height: 115px;
    margin-top: 45px;
}

.review {
    font-size: 150%;
    margin: 20px 0 0 0;
}

.testimonial__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 32.4px;
    letter-spacing: 0.36px;
    width: 942px;
    text-align: center;
    margin-top: 30px;
}

.testimonial__clientName {
    font-size: 26px;
    font-weight: 700;
    line-height: 33.8px;
    letter-spacing: 0.36px;
    margin-top: 23px;
}

.testimonial__clientType {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.36px;
}

.hr__line {
    border: 2px solid #E0E0E0;
    width: 966px;
}

.testimonial__edge {
    display: flex;
    gap: 26px;
}

.testimonial__circle {
    width: 245px;
    height: 245px;
    border: 5px solid var(--color-lightgreen);
    border-radius: 50%;
    background-color: var(--color-lightgreen);
    position: relative;
}

.testimonial__circleinto {
    width: 235px;
    height: 235px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    background-color: #f1f1f1;
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial__circleTitle {
    font-size: 42px;
    font-weight: 700;
    line-height: 54.6px;
    letter-spacing: 0.36px;
}

.testimonial__circlText {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px;
    letter-spacing: 0.36px;
}

@media (max-width: 1290px) {
    .testimonial {
        height: 1450px;
    }

    .testimonial__wrapper {
        height: 1240px;
    }
    .testimonial__edge {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:1115px) {
    .testimonial__text {
        width: 500px;
    }

    .testimonial__wrapper {
        padding: 0 70px;
    }

    .hr__line {
        width: 90%;
    }
}

@media (max-width:885px) {
    .testimonial__wrapper {
        padding: 0 50px;
    }
}

@media (max-width:820px) {
    .testimonial__wrapper {
        padding: 0 10px;
    }
}

@media (max-width:790px) {
    .testimonial__wrapper {
        padding: 0;
    }

    .testimonialTitle {
        width: 400px;
        text-align: center;
    }

    .hr__line {
        margin: 40px 0 0 0;
    }
}

@media (max-width:740px) {
    .testimonial {
        background-position: center center;
    }

    .testimonial__wrapper {
        align-items: start;
    }

    .testimonial__wrapper {
        padding: 0 80px;
    }
}

@media (max-width:695px) {
    .testimonial {
        height: 2050px;
    }

    .testimonial__wrapper {
        height: 1840px;
    }
}

@media (max-width:585px) {
    .testimonial__wrapper {
        padding: 0 40px;
    }
}

@media (max-width:560px) {
    .testimonial__text {
        width: 400px;
    }
    .testimonial__wrapper {
        padding: 0 60px;
    }
}

@media (max-width:480px) {
    .testimonialTitle {
        width: 200px;    
    }
    .testimonial__text {
        width: 300px;
    }
    .testimonial__wrapper {
        padding: 0 100px;       
    }

    .hr__line {
        margin: 200px 0 0 0;
    }

.testimonial {
    height: 2250px;
}

.testimonial__wrapper {
    height: 2040px;
}
}
@media (max-width:450px) {
    .testimonial__wrapper {
        padding: 0 40px;
    }
}

@media (max-width:345px) {
    .testimonial__wrapper {
        padding: 0 20px;
    }
}