.footer__wrapper {
    width: 1440px;
    display: flex;
    justify-content: center;
}

.footer__contact {
    width: 269.45px;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer__contactWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__textWrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer__title {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.36px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 10px;
}

.footer__textName {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 23.4px;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: var(--color-grey);
}

.footer__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.36px;
    color: var(--color-grey);
}

.footer__center {
    width: 670px;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    width: 567px;
    text-align: center;
    color: var(--color-grey);
    margin: 50px 0 50px 0;
}

.footer__social {
    width: 588px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer__round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    width: 19.28px;
    height: 18.46px;
}

.footer__utility {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__utilityText {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.36px;
    color: var(--color-grey);
}

.footer__line {
    height: 369px;
    border: 1px solid #EFF6F1;
    margin: 0 20px;
}

.footer__map {
    width: 1440px;
    height: 662px;
}

.footer__utilityText:hover {
    color: var(--color-lightgreen);
}

.footer__text:hover {
    color: var(--color-lightgreen);
}

.footer__round:hover {
    background-color: var(--color-lightgreen);
}

@media (max-width: 900px) {
    .footer__contact {
        width: 369.45px;
    }
    .footer__center {
        width: 470px;
    }
    .footer__text {
        font-size: 20px;
    }

    .center {
        width: 310px;
    }

    .footer__utility {
        width: 335px;
    }

    .footer__social {
        width: 310px;
    } 

    .footer__utilityText {
        font-size: 21px;
    }
}
    